@import url('https://fonts.googleapis.com/css?family=Kanit:400,300&subset=thai,latin');
body {
  margin: 0;
  font-family: "Sukhumvit", -apple-system, "Kanit";

  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  padding: 0;
  margin: 0;
}